* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,li {
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.header {
    position: relative;
}
.header__top {
    background: rgba(94, 93, 88, 0.6);
    line-height: 120px;
    position: absolute;
    width: 100%;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
}
.header__logo-letter {
    position: absolute;
    top: 2px;
    left: 13px;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.header__logo-text {
    margin-left: 6px;
    font-size: 32px;
    line-height: 48px;
}
.header__logo-text span {
    color: #18CFAB;
    font-weight: 700;
}

.header__top-right {
    display: flex;
}
.header__menu-items {
    display: flex;
    justify-content: space-between;
}
.header__menu-item {
    margin-right: 21px;
}
.header__menu-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 46px;
    border-bottom: 2px solid transparent;
}
.header__menu-link:hover {
    color: #18CFAB;
    
    border-bottom: 2px solid #18CFAB;
}
.header__search-icon {
    cursor: pointer;
}
.header__content {
    background-image: url(../img/header/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.header__content {
    display: flex;
    align-items: center;
    text-align: center;
}
.header__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 22px;
}
.header__title span {
    color: #18CFAB;
}
.header__text {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 22px;
}
.header__subtext {
    font-size: 34px;
    text-transform: uppercase;
    color: #D4D4D4;
    margin-bottom: 100px;
    letter-spacing: 0.5px;
}
.header__buttons button {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    cursor: pointer;
    color: #fff;
}
.header__button-left {
    padding: 16px 18px;
    margin-right: 13px;
    background-color: #18CFAB;
}
.header__button-right {
    padding: 16px 11px;
    margin-left: 13px; 
    background-color: #00CBF6;
}
.advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.advantages__item {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 482px;
    height: 277px;
    background-color: #1C2A33;
}
.advantages__item--color {
    background-color: #18CFAB;
}
.advantages__item-text {
    margin-top: 47px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.advantages__item-text--color {
    color: #18CFAB;
}

.services {
    padding-top: 83px;
    padding-bottom: 91px;
}
.title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    position: relative;
}
.title::before {
    content: '';
    position: absolute;
    width: 79px;
    border: 1px solid #18CFAB;
    top: 56px;
    left: 47%;
} 
.title::after {
    content: '';
    position: absolute;
    width: 79px;
    border: 1px solid #18CFAB;
    top: 66px;
    left: 562px;
} 
.services__content {
    margin-top: 118px;
}
.services__menu {
    display: flex;
}
.services__menu-item {
    font-size: 16px;
    line-height: 40px;
    color: #717171;
    padding: 16px 38px;
    background-color: #F8FCFE;
    box-shadow: 0px 0px 0px 1px #EDEFEF;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
}
.services__menu-item:hover {
    border: 2px solid #18CFAB;
}
.services__menu-item--active {
    background-color: #18CFAB;
    color: #fff;
    position: relative;
}
.services__menu-item--active::after {
    content: '';
    position: absolute;
    background-image: url(../img/main/services/services_triangle.png);
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 27px;
    height: 13px;
}
.services__menu-content {
    margin-top: 28px;
}
.services__menu-content-item {
    display: flex;
    display: none;
}
.services__menu-text {
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 300;
    text-align: justify;
}


.buy-now {
    background-image: url(../img/main/buy_now/buy_now.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.buy-now__content {
    text-align: center;
    padding-top: 126px;
    padding-bottom: 127px;
    
}
.buy-now__title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
}
.buy-now__text {
    padding-top: 12px;
    padding-bottom: 67px;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.buy-now__btn {
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #18CFAB;
    outline: none;
    border: none;
    padding: 16px 11px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    cursor: pointer;
}

.works {
    background-color: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 107px;
    text-align: center;
}
.works__menu {
    margin-top: 97px;
    display: flex;
    justify-content: center;
}
.works__menu-item {
    padding: 14px 27px;
    box-shadow: 0px 0px 0px 1px #DADADA;
    border: 2px solid transparent;
    color: #717171;
    cursor: pointer;
    margin-right: 1px;
}
.works__menu-item:last-child {
    margin-right: 0;
}
.works__menu-item--active {
    border: 2px solid #18CFAB;
    color: #18CFAB; 
}
.works__menu-item:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.works__items {
    margin-top: 71px;
    display: grid;
    padding: 0px 35px;
    grid-template-columns: repeat(4, 1fr);
}
.works__item {
    position: relative;
}
.works__item:hover .works__item-hover{
    opacity: 1;
    transition: 0.3s;
}
.works__item-hover {
    text-align: center;
    padding: 50px 0;
    width: 288px;
    height: 206px;
    background: #E9EDEF;
    position: absolute;
    opacity: 0;
    left: 0px;
    top: 0;
    transition: 0.3s;
    border-top: 3px solid #18CFAB;
}
.works__item-title {
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
    position: relative;
}
.works__item-text {
    color: #8A8A8A;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
}
.works__item {
    margin: -5px;
}
.works__item-hide {
   display: none;
}
.works__btn-drop-menu {
    text-align: center;
    margin-top: 70px;
}
.works__btn-drop-menu button {
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #18CFAB;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 13px 15px 8px 56px;
    cursor: pointer;
    position: relative;
}
.works__btn-drop-menu button::before {
    position: absolute;
    content: '';
    background-image: url(../img/main/works/btn-drop-icon.png);
    width: 16px;
    height: 18px;
    transform: translateY(-50%);
    top: 50%;
    left: 23px;
}
#works__btn-drop-menu-2 {
    display: none;
}
.works__items-drop {
    margin-top: 5px;
    padding: 0px 35px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
}
.news {
    padding: 82px 0 128px 0;  
    text-align: center;
}
.news__images {
    margin-top: 101px;
    display: grid;
    row-gap: 43px;
    grid-template-columns: repeat(4, 1fr);
   
}
.news__image {
    position: relative;
}
.news__image-calendar {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 6px 16px;
    width: 70px;
    height: 68px;
    color: #fff;
    background-color: #203E38;
    transition: all .3s;
}
.news__image:hover .news__image-calendar {
    background-color: #18CFAB;
}
.news__image-title {
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: #717171;
    text-align: left;
    transition: all .3s;
    padding-left: 30px;
}
.news__image:hover .news__image-title {
    color: #18CFAB;
    padding-left: 40px;
}
.news__image-text {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #777777;
    padding-left: 30px;
}

.about {
    padding-top: 98px;
    padding-bottom: 104px;
    background-image: url(../img/main/about/about-bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about__title {
    color: #FFFFFF;
}
.about__quotes {
    height: 31px;
    background-image: url(../img/main/about/quotes.png);
    background-repeat: no-repeat;
    background-position: center; 
    margin-top: 99px;
    text-align: center;
}

.gallery {
    padding: 95px 0 88px 0;
}
.gallery__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.gallery__item {
   margin-right: 20px;
}
.gallery__item:nth-child(3) {
    margin-right: 0; 
 }
 .gallery__item:nth-child(6) {
    margin-right: 0;
 }
 .gallery__item:nth-child(4) {
    margin-top: -170px;
}
.gallery__item:nth-child(5) {
    margin-top: -50px;
}
.gallery__item:nth-child(6) {
    margin-top: 20px;
}
.gallery__item:nth-child(7) {
    margin-top: -280px;
}
.gallery__item:nth-child(8) {
    margin-top: -170px;
}
.gallery__items-main {
    margin-top: 115px;
}
.gallery__item-other {
    height: 453px;
    width: 364px;
}
.gallery__item-other-big {
    display: flex;
}
.gallery__item-other-big img:first-child {
    margin-right: 3px;
}
.gallery__item-other-small {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}
.gallery__item-other-small img {
    margin-bottom: 3px;
}
.gallery__item-other-small img:nth-child(1) {
   margin-right: 3px;
}
.gallery__item-other-small img:nth-child(2) {
    margin-right: 3px;
 }
 .gallery__item-other-small img:nth-child(4) {
    margin-right: 3px;
 }
 .gallery__item-other-small img:nth-child(5) {
    margin-right: 3px;
 }
 .gallery__item-other-small img:nth-child(7) {
    margin-right: 3px;
 }
 .gallery__item-other-small img:nth-child(8) {
    margin-right: 3px;
 }
.gallery__items-drop {
    display: none;
    margin-top: 20px;
}
.gallery__btn-drop-menu {
    text-align: center;
    margin-top: 70px;
}
.gallery__items-drop .gallery__item:nth-child(1) {
    margin-top: -70px;
}
.gallery__items-drop .gallery__item:nth-child(3) {
    margin-top: -80px;
}
.gallery__items-drop .gallery__item:nth-child(4) {
    margin-top: -165px;
}
.gallery__items-drop .gallery__item:nth-child(5) {
    margin-top: 20px;
}
.gallery__items-drop .gallery__item:nth-child(6) {
    margin-top: 10px;
}
.gallery__items-drop .gallery__item:nth-child(7) {
    margin-top: -260px;
}
.gallery__items-drop .gallery__item:nth-child(8) {
    margin-top: -90px;
}
.gallery__btn-drop-menu button {
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #18CFAB;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 13px 15px 8px 56px;
    cursor: pointer;
    position: relative;
}
.gallery__btn-drop-menu button::before {
    position: absolute;
    content: '';
    background-image: url(../img/main/works/btn-drop-icon.png);
    width: 16px;
    height: 18px;
    transform: translateY(-50%);
    top: 50%;
    left: 23px;
}

.footer {
    background-color: #22353F;
    text-align: center;
    padding: 48px 0;
}
.footer__copy {
    color: #AEAEAE;;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}
.footer__copy span {
    color: #18CFAB;
}